body {
  font-family: monospace;
  background-color: black;
  margin: 0;
  padding: 0;
}

#terminal {
  display: none;
  padding: 10px;
  color: lime;
  max-width: fit-content;
  white-space: pre-wrap;
  min-height: fit-content;
  font-size: 12px;
  outline: none;
}

#splash-screen {
  position: relative;
  top: 100px;
  left: 0;
  margin-left: 27px;
  width: min-content;
  height: fit-content;
  color: lime;
  font-size: 7px;
  z-index: 1;
}

.loading-bar-process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.random-process {
  font-size: 12px;
  color: lime;
}

.loading-bar-container {
  position: relative;
  width: 100%;
  border: 1px dotted lime;
  box-sizing: border-box;
}

.loading-bar {
  background-color: black;
  width: 100%;
  height: 1em;
  overflow: hidden;
}

.filler {
  display: inline-block;
  height: 1em;
  background-color: lime;
  white-space: nowrap;
  font-size: 12px;
}

@keyframes flashing-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flashing {
  animation: flashing-text 1s step-end infinite alternate;
}
